* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.whatsApp {
  width: 45px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  filter: opacity(0.8);
}

.whatsApp:hover {
  filter: opacity(1) saturate(150%);
}

header {
  background-image: url(../img/card-precos.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  
  .upperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 10px;
    width: 100%;

    .logo {
      width: 420px;
      height: 75px;
      filter: invert(100%);
    }

    nav {
      
      .hbMenu {
        display: none;
        border: none;
        background: none;
        cursor: pointer;

        img {
          width: 45px;
          margin-right: 10px;
        }
      }

      ul {
        display: flex;
        gap: 25px;
        margin-right: 25px;
        

        li {
          list-style: none;
          font-size: 22px;

          a {
            text-decoration: none;
            text-shadow: 0 0 2px rgba(22, 22, 245, 0.699);
            color: rgb(40, 40, 56);
            font-family: Helvetica;
            transition: .25s ease;
          }

          a:hover {
            color: blue;
            border-bottom: 3px groove rgb(40, 40, 56);
          }
        }
      }
    }
  }

  .lowerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 5px rgb(8, 8, 161);
    font-family: 'Poppins', sans-serif;

    h1 {
      margin-bottom: 10px;
      font-size: 60px;
    }

    span {
      text-align: center;
      width: 600px;
      font-size: 38px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description {
    width: 100%;
    max-width: 1300px;
    color: rgb(40, 40, 56);
  

    h2 {
      margin: 25px 0;
      text-align: center;
      font-size: 36px;
      font-family: 'Poppins', sans-serif;
    }

    h3 {
      font-size: 20px;
      text-align: center;
    }
    
    hr {
      width: 70px;
      height: 5px;
      margin: 10px auto;
      background-color: darkblue;
      border: none;
    }

    p {
      font-family:  Helvetica, arial, sans-serif;
      line-height: 2;
      margin: 25px 0 10px;
    }
  }

  .compLogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    width: 100%;
    box-shadow: 0 0 5px darkgray;

    .group {
      max-width: 770px;

      h3 {
        margin: 25px 0;
        text-align: center;
        font-size: 24px;
      }

      ul {
        display: flex;
        border-bottom: 2px groove rgba(0, 0, 0, 0.096);
        flex-wrap: wrap;

        li {
          list-style: none;
          margin: 0 5px;

          img {
            margin-bottom: 10px;
            width: 100px;
            transition: .3s linear;
          }

          img:hover {
            filter: saturate(150%) brightness(1.1);
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    max-height: fit-content;
    margin: 25px 0;
    background-image: url(../img/cta-bg.webp);
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;

    .ctaInfo {
      margin: 15px 0;

      h2 {
        text-align: center;
        color: rgb(40, 40, 56);
        font-size: 40px;
        letter-spacing: 2px;
      }

      span {
        font-size: 20px;
        color: rgb(40, 40, 56);
      }
    }

    .buttons {
      margin-top: 5px;

      .button {
        background-color: rgb(28, 28, 235);
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        margin: 0px 10px;
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-size: 16px;
        transition: .3s ease-in-out;
      }

      .button:hover {
        background-color: rgb(5, 5, 167);
        box-shadow: 0 0 2px white, 0 0 12px white, 0 0 20px white;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 25px 35px;
  background: linear-gradient(90deg, #010010 0.08%, #020024 100%);
  color: white;
  font-family:  Helvetica, arial, sans-serif;

  .adress {
    h4 {
      font-size: 18px;
      cursor: default;
    }

    span {
      display: block;
      margin: 10px 0 10px 20px;
    }
  }

  .branches {
    h4 {
      font-size: 18px;
      cursor: default;
    }

    ul {

      li {
        margin: 10px 0 0 20px;
        list-style: none;

        a {
          text-decoration: none;
          color: white;
        }

        a:hover {
          color: rgb(103, 103, 231);
          text-shadow: 0 0 3px black;
        }
      }
    }
  }

  .social {

    h4 {
      font-size: 18px;
      margin-bottom: 10px;
      cursor: default;
    }

    ul {
      display: flex;
      gap: 10px;

      li {
        list-style: none;

        img {
          width: 35px;
          filter: invert(100%);
          transition: .25s ease-in-out;
        }

        img:hover {
          transform: scale(1.1);
          border-radius: 50%;
          box-shadow: 0 0 15px gray;
        }
      }
    }
  }
}

//*************************
//--------MEDIA-----------*
//*************************

@media screen and (min-width: 1366px) {
  footer {
    padding: 25px 75px;
  }
}

@media screen and (max-width: 1400px) {
  header {

    .lowerHeader {
      margin-top: 300px;
      
      h1 {
        font-size: 48px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    
    .upperHeader {

      .logo {
        width: 210px;
        height: 35px;
      }

      .nav {
        
        .hbMenu {
          display: block;
          right: 0;
        }

        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: absolute;
          width: 100%;
          height: 0;
          top: 85px;
          right: 0;
          z-index: 1000;
          transition: .8s;
          visibility: hidden;
          overflow-y: hidden;
          margin: 0;

          li {
            text-align: right;
            padding: 10px 15px;
            width: fit-content;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            font-size: 20px;
          }
        }
      }
      
      .nav.active .menu {
        height: calc(100vh - 85px);
        visibility: visible;
        overflow-y: auto;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  header {
    
    .lowerHeader {
      h1 {
        font-size: 32px;
      }

      span {
        font-size: 20px;
        max-width: fit-content;
      }
    }
  }

  .container {

    .description {
      padding: 0 15px;
      
      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 18px;
      }
    }

    .compLogos {

      .group {
        max-width: fit-content;
  
  
        ul {
  
          li {
  
            img {
              width: 80px;
            }
          }
        }
      }
    }

    .cta {
      padding: 0 15px;
      
      .ctaInfo {
        margin: 7px 0;

        h2 {
          font-size: 24px;
        }

        span {
          font-size: 17px;
          max-width: fit-content;
        }
      }

      .buttons {
        display: flex;

        .button {
          display: flex;
          width: 100px;
          align-items: center;
          text-align: center;
          padding: 5px 10px;
          font-size: 13px;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    text-align: center;

    .adress {
      margin-bottom: 25px;
    }

    .branches {
      margin-bottom: 25px;
    }
  }
}
